.ready-img{
    width: 375px;
    height: 328px;
    position: relative;
}
.ready-txt-cont{
    position: absolute;
    top:70px;
    width: 327px;
height: 168px;
left: 24px;
color: white;
text-align: center;
}
.ready-txt h1{
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    /* or 125% */
    
    text-align: center;
    letter-spacing: -0.4px;
    
    color: #FFFFFF;
}
#ready-button{
    width: 245px;
height: 64px;
margin: 0 auto;
margin-top: 32px;
text-align: center;
align-items: center;
padding-top: 23px;
border: 1px solid;
border-color: white;
color: white;
background-color: transparent;
}
#ready-button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border-color: black;

}
@media only screen and (min-width: 376px) {
    .ready-img{
        width: 750px;
        height: 328px;
        position: relative;
    }
    .ready-txt-cont{
        position: absolute;
        top:70px;
        width: 327px;
    height: 168px;
    left: 215px;
    color: white;
    text-align: center;
    }
}
@media only screen and (min-width: 751px) {
    .ready-img{
        width: 1440px;
        height: 240px;
        position: relative;
    }
    .ready-txt-cont{
        position: absolute;
        top:70px;
        width: 927px;
        height: 168px;
        left: 215px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: none;
    }
    #ready-button{
        width: 245px;
    height: 64px;
    margin: 0 auto;
    margin-top: 0px;
    text-align: center;
    align-items: center;
    padding-top: 23px;
    border: 1px solid;
    border-color: white;
    color: white;
    background-color: transparent;
    }
}
@media only screen and (min-width: 1441px) {
    .ready-img{
        width: 1920px;
        height: 240px;
        position: relative;
    }
    .ready-txt-cont{
        position: absolute;
        top:70px;
        width: 927px;
        height: 168px;
        left: 555px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: none;
    }
    #ready-button{
        width: 245px;
    height: 64px;
    margin: 0 auto;
    margin-top: 0px;
    text-align: center;
    align-items: center;
    padding-top: 23px;
    border: 1px solid;
    border-color: white;
    color: white;
    background-color: transparent;
    }
}