.hero-cont{
position: relative;
width: 375px;
height: 748px;
text-align: center;
}
.hero-txt-cont{
position: absolute;
width: 327px;
height: 364px;
left: 24px;
top: 232px;
}
.dine{

color: white;
line-height: 56px;
letter-spacing: -.5px;
font-size: 40px;
font-weight: bold;

}
.heading{
    margin-top: 32px;
height: 80px;
font-family: Spartan;
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 40px;
/* or 125% */

text-align: center;
letter-spacing: -0.4px;

color: #FFFFFF;
}
.desc{
height: 100px;
margin-top: 33px;
font-family: Spartan;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
/* or 167% */
text-align: center;
letter-spacing: -0.1875px;

color: #FFFFFF;
}
.button-cont{
width: 245px;
height: 64px;
margin: 0 auto;
margin-top: 40px;
text-align: center;
align-items: center;
padding-top: 23px;
border: 1px solid;
border-color: white;
color: #FFFFFF;
}
.button-cont:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.button-cont p{
height: 16px;
font-family: Spartan;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
letter-spacing: 2px;
}