.hero-cont{
    position: relative;
    width: 100%;
    height: 748px;
    text-align: center;
}
.hero-txt-cont{
width: 100%;
max-width: 327px;
height: 364px;
position: absolute;
top: 232px;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}
.dine{
color: white;
line-height: 56px;
letter-spacing: -.5px;
font-size: 40px;
font-weight: bold;
}
.heading{
margin-top: 32px;
height: 80px;
font-family: Spartan;
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 40px;
/* or 125% */

text-align: center;
letter-spacing: -0.4px;

color: #FFFFFF;
}
.desc{
height: 100px;
margin-top: 33px;
font-family: Spartan;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
/* or 167% */
text-align: center;
letter-spacing: -0.1875px;

color: #FFFFFF;
}
.button-cont{
width: 245px;
height: 64px;
margin: 0 auto;
margin-top: 40px;
text-align: center;
align-items: center;
padding-top: 23px;
border: 1px solid;
border-color: white;
color: #FFFFFF;
}
.button-cont:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.button-cont p{
height: 16px;
font-family: Spartan;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
letter-spacing: 2px;
}

@media only screen and (min-width: 751px) {
    .hero-cont{
        position: relative;
        width: 1440px;
        height: 820px;
        text-align: left;
        }
        .hero-txt-cont{
        position: absolute;
        width: 523px;
        height: 364px;
        left: 165px;
        top: 78px;       
        }
        .heading{
            margin-top: 92px;
        height: 80px;
        font-family: Spartan;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        /* or 125% */
        
        text-align: left;
        letter-spacing: -0.4px;
        
        color: #FFFFFF;
        font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 72px;
/* or 112% */

letter-spacing: -0.8px;
        }
        .desc{
        height: 100px;
        margin-top: 94px;
        font-family: Spartan;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */
        text-align: left;
        letter-spacing: -0.1875px;
        font-size: 18px;
line-height: 30px;
/* or 167% */

letter-spacing: -0.225px;
        color: #FFFFFF;
        }
        .button-cont{
            width: 245px;
            height: 64px;
            margin: 0;
            margin-top: 40px;
            text-align: center;
            padding-top: 23px;
            border: 1px solid;
            border-color: white;
            color: #FFFFFF;
            }
}
@media only screen and (min-width: 1441px) {
    .hero-cont{
        position: relative;
        width: 1920px;
        height: 820px;
        text-align: left;
        }
        .hero-txt-cont{
        position: absolute;
        width: 523px;
        height: 364px;
        left: 165px;
        top: 78px;       
        }
        .heading{
            margin-top: 92px;
        height: 80px;
        font-family: Spartan;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        /* or 125% */
        
        text-align: left;
        letter-spacing: -0.4px;
        
        color: #FFFFFF;
        font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 72px;
/* or 112% */

letter-spacing: -0.8px;
        }
        .desc{
        height: 100px;
        margin-top: 94px;
        font-family: Spartan;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */
        text-align: left;
        letter-spacing: -0.1875px;
        font-size: 18px;
line-height: 30px;
/* or 167% */

letter-spacing: -0.225px;
        color: #FFFFFF;
        }
        .button-cont{
            width: 245px;
            height: 64px;
            margin: 0;
            margin-top: 40px;
            text-align: center;
            padding-top: 23px;
            border: 1px solid;
            border-color: white;
            color: #FFFFFF;
            }
}