
@use'reset.scss';
@use '../components/homeherosection/HomeHero.scss';
@use '../components/coversection/cover.scss';
@use '../components/menusection/menu.scss';
@use '../components/eventssection/events.scss';
@use '../components/readysection/ready.scss';
@use '../components/footer/footer.scss';
@use '../components/bookhero/bookhero.scss';
@use '../components/reserve/reserve.scss';


.mobiletwotime{
    display: block;
}
.tablet{
    display: none;
}

.desktop{
    display: none;
}

@media screen and (min-width:454px) {
    .mobiletwotime{
        display: none;
    }
    .tablet{
        display: block;
    }
    
}

@media screen and (min-width:1024px) {
    .mobiletwotime{
        display: none;
    }
    .tablet{
        display: none;
    }
    
    .desktop{
        display: block;
    }
}