
@use'reset.scss';
@use '../components/homeherosection/HomeHero.scss';
@use '../components/coversection/cover.scss';
@use '../components/menusection/menu.scss';
@use '../components/eventssection/events.scss';
@use '../components/readysection/ready.scss';
@use '../components/footer/footer.scss';
@import url(../components/bookhero/bookhero.css);
@import url(../components/reserve/reserve.css);


.mobiletwotimes{
    display: block;
}
.tablet{
    display: none;
}

.desktop{
    display: none;
}
.desktoptwotime{
    display: none;
}
.desktoptwotimes{
    display: none;
}

@media screen and (min-width:454px) {
    .mobiletwotime{
        display: none;
    }
    .tablet{
        display: block;
    }
    
}