.events-cont{
    height: 910px;
    width: 375px;
    color: black;
}
.event-cont{
    margin: 80px 24px;
}
.event-img{
    z-index: 10;
    height: 400px;
    width: 326px;
    box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
}
.event-txt-cont{
    text-align: center;
    height: 394px;
    margin-top: 49px;
}
.events{
    width: 326px;
    height: 116px;
}
.events span{
    cursor: pointer;
 }
.tag{
    padding-bottom: 18px;

    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    
    color: #4C4C4C;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.active{
    color: black;
    opacity: 1;
}
.event-line{
    background-color: #9E7F66;
    width: 48px;
    height: 1px;
    display: none;
    margin: 0 auto;
    padding-bottom: 0px;
}
.event-line-active{
    display: block;
}
.event-txt{
    width: 327px;
    height: 156px;
    margin-top: 24px;
}
.event-txt h1{
    font-family: Spartan;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

text-align: center;
letter-spacing: -0.4px;

color: #242B37;
}
.event-txt p{
    margin-top: 16px;
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    text-align: center;
    letter-spacing: -0.1875px;
    color: #242B37;
}
#event-button{
    width: 245px;
height: 64px;
margin: 0 auto;
margin-top: 38px;
text-align: center;
align-items: center;
padding-top: 23px;
border: 1px solid;
border-color: black;
color: white;
background-color: black;
}
#event-button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.event-twotime{
    display: none;
}
.event-pattern-left{
    display: none;
}
.event-triple-line{
    display: none;
}
@media only screen and (min-width: 376px) {
    .event-pattern-left{
        display: block;
        position: absolute;
        top: 0px;
        left:-200px;
        z-index: 0;
    }
    .event-triple-line{
        display: block;
        position: absolute;
        top: 45px;
        left:50px;
        z-index: 3;

    }
    .events-cont{
        position: relative;
        height: 910px;
        width: 750px;
        color: black;
        overflow: hidden;
    }
    .event-cont{
        margin: 80px 120px;
    }
    .event-img{
        height: 400px;
        width: 526px;
        box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
    }
    .event-img img{
        height: 400px;
        width: 526px;
        box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
    }
    .event-txt{
        width: 327px;
        height: 156px;
        margin-top: -50px;
    }
    .event-txt-cont{
        margin: 80px 105px;

        text-align: center;
        height: 394px;
        margin-top: 49px;
    }
    .tag{
        padding-bottom: 0px;
        width: 426px;
    }
    .events{
        width: 526px;
        height: 116px;
        margin: 0 -90px;
        display: flex;
        margin-top: 80px;
    }
    #event-button{
        width: 245px;
    height: 64px;
    margin: 0 40px;
    margin-top: 38px;
    text-align: center;
    align-items: center;
    padding-top: 23px;
    border: 1px solid;
    border-color: black;
    color: white;
    background-color: black;
    }
    .event-twotime{
        display: block;
    }
   
}